*.o
*.lst
*.d
*.bak
*.ppu
*.anjuta
*.db
*.toc
*.aux
*~
*.ods
*.log

firmware/p600firmware.bin

firmware/p600firmware.elf

firmware/p600firmware.hex

firmware/p600firmware.lss

firmware/p600firmware.map

firmware/p600firmware.syx
/common/*~
